<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (user) { %>
    <a href="/logout">Log Out</a>
    <% } else { %>
      <a href="/auth/google">Login with Google</a>
    <% } %>
    
    <h1>Welcome to <%= title %></h1>    
    <p><% if (user) {%>Hello, <%= user.name %>!</p>
    <img src="<%= user.photo %>" alt="<%= user.name %>'s Profile Pic" width="100"><% } %>

  </body>
</html>
