<%- include('../partials/header') %>
    
    <% if (user) {%><h1>Hello, <%= user.name %>!</h1>
    <img src="<%= user.photo %>" alt="<%= user.name %>'s Profile Pic" width="100">
    <% } %>

    <h1>Here are a list of your video games!</h1>
    <ul>
        <% user.videogames.forEach(function(vg, idx) { %>
            <li><%= vg.title %> - <%= vg.statusOfCompletion %></li>
        <% }) %>
            <li>Game Two - In progress</li>
            <li>Game Three - Not Started</li>
        </ul>

<%- include('../partials/footer') %>