<%- include('../partials/header') %>

<div class="index">

    <h1>Name of Game: <%= videogame.title %></h1>
    <h3>Status of Completion: <%= videogame.statusOfCompletion %></h3>

    <form action="/videogames/<%= videogame._id %>/comments" method="POST">
        <input type="text" name="comment" placeholder="Add a comment here" autocomplete="off">
        <button type="submit">Add A Note</button></form>
    
        <% if (comments.length) { %>
        <h3>Your comments!</h3>
            <ul>
                <% comments.forEach(function(c) { %>
                <li><%= c.comment %></li>
                <% }) %>
            </ul>
        <% } else { %>
        <h3>You have no comments for this game.</h3>
        <% } %>
        <br><br>
    <div class="edit">
        <form action="/videogames/<%= videogame._id %>/edit" method="GET">
        <button type="submit">Edit Game</button></form>
        <form action="/videogames/<%= videogame._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Game</button></form>
    </div>

</div>
<%- include('../partials/footer') %>